<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <link rel="stylesheet" href="/app/static/css/reset.css">
    <link rel="stylesheet" href="/app/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
            <a href="#">
                <img src="./app/static/img/botao-menu.png" alt="Logo Início" class="logo"/>
            </a>
            <div class="nome-meio">
                <span>XADREZ - BOT</span>
            </div>
    </header>

    <main>
        <ul class="lista">
            <li class="textos">
                <span>
                    Jogue contra nosso bot!
                </span>
            </li>
            <li class="textos">
                <p>
                    Comandos de voz implementado! Consiga mexer
                    suas peças apenas falando.
                </p>
            </li>
        </ul>

        
        <a class="botao-jogar" href="/jogar">
            <ul class="botao">
                JOGAR
            </ul>
        </a>
       
    

    </main>





    

</body>

</html>
