<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/chessboard-1.0.0.css')}}">

</head>

<body>
    <div id="myBoard" style="width: 700px;   margin: auto;
    width: 25%;
    padding: 10px;"></div>
    <div id="status"></div>
    <div id="fen"></div>
    <div id="pgn"></div>
    <div id="move"></div>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/chessboard-1.0.0.js')}}"></script>
    <script src="{{url_for('static',filename='js/chess_ui_handler.js')}}"></script>
</body>

</html>
